 body{
       background-repeat: no-repeat;
       background-size: 1440px 800px;
       
        }
.a{
        font-family: cursive;
        
    
            }
.borde{
    background-color: antiquewhite;
    height: 200px;
}
.borde1{
    background-color: aquamarine;
    height: 150px;
}

.borde2{
    height: 50px;
    text-align: center;
    background-color: olivedrab;
    
}


















